/*
Colors used for this project:
Cyan: #38c4bd
Orange: #f1b142
Grayscale: #a8bdc7
DeepBlue(background): #192a32
LighterDeepBlue: #203540

FONT: Sofia Sans (regular 400 + Medium 500 italic)
 */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;1,500&display=swap');



body {
    background: #192a32;
    color: #fff;
    overflow: hidden;
}

h1 {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.square-box {

    width: 100px;
    height: 100px;
    background-color: #203540;
    border-radius: 15px;
    box-shadow: 4px 6px 4px #111b20;
    padding: 8px;
    border: solid 2px transparent;
    transition: border 0.15s ease-in-out;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
    text-align: center;

}

.square-box:hover {
    border: solid 2px #75a9c5b5;
    cursor: pointer;
}

table {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-spacing: 13px;
}

.square-box02 {
    width: 50px;
    height: 30px;
    background-color: #203540;
    border-radius: 15px;
    box-shadow: 4px 6px 4px #111b20;
    padding: 8px;
    border: solid 3px transparent;
    transition: border 0.2s ease-in-out;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
}

.square-box02:hover {
    border: solid 2px #75a9c5b5;
    cursor: pointer;
}

.square-box03 {
    width: 100px;
    height: 60px;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.cyan {
    color: #38c4bd;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: xx-large;
}

.orange {
    color: #f1b142;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: xx-large;
}
