/*
Colors used for this project:
Cyan: #38c4bd
Orange: #f1b142
Grayscale: #a8bdc7
DeepBlue(background): #192a32
LighterDeepBlue: #203540

FONT: Sofia Sans (regular 400 + Medium 500 italic)
 */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;1,500&display=swap');



body {
    background: #192a32;
    color: #fff;
    overflow: hidden;
}
h1 {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}
.cell {
    width: 75px;
    height: 75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    cursor: pointer;
}
#gameContainer {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    display: flex
    
    
}
#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width:225px;
    margin: auto;
}

.statusText {
    padding: 20px;
}