@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,400;1,500&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #192a32;
    color: #f1b142;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  #board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
  }
  
  .tile {

    color: currentColor;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .square-box {
    width: 70px;
    height: 70px;
    background-color: #203540;
    border-radius: 15px;
    box-shadow: 4px 6px 4px #111b20;
    padding: 8px;
    border: solid 2px transparent;
    text-align: center;
    transition: border 0.15s ease-in-out;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
    text-align: center;

}
.square-box:hover {
    border: solid 2px #75a9c5b5;
    cursor: pointer;
}
  .strike {
    position: absolute;
    background-color: red;
  }
  
  .strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
  }
  .strike-row-2 {
    width: 100%;
    height: 4px;
    top: 48%;
  }
  .strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
  }
  .strike-column-1 {
    height: 100%;
    width: 4px;
    left: 15%;
  }
  .strike-column-2 {
    height: 100%;
    width: 4px;
    left: 48%;
  }
  .strike-column-3 {
    height: 100%;
    width: 4px;
    left: 83%;
  }
  .strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
  }
  .strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(-45deg);
  }
  
  h1 {
    color: currentColor;
  }
  
  #game-over-area {
    text-align: center;
    border: currentColor 8px solid;
    padding: 50px;
    width: 50%;
    margin-top: 50px;
  }
  
  h2 {
    color: currentColor;
    font-size: 2em;
    margin-top: 0px;
  }
  
  button {
    background-color: transparent;
    color: currentColor;
    border: currentColor 1px solid;
    padding: 10px;
    font-size: 1.5em;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .x-hover:hover::after {
    content: "X";
    opacity: 0.4;
  }
  
  .o-hover:hover::after {
    content: "O";
    opacity: 0.4;
  }